<div *ngIf="imagesData.length" id="image-grid" class="image-grid">
  <div class="row no-gutters">
    <div *ngFor="let image of imagesData; let i = index"
         [ngClass]="{'image-expanded': image.height === '860px'}"
         [ngStyle]="{'height': image.height, 'width': '320px', 'outline': 'none'}"
         tabindex="{{i}}">
      <div class="col image-thumbnail">
          <span class="helper"></span>
          <a (keyup.enter)="openImageExpander(i)" (click)="openImageExpander(i)" ><img src="{{image.thumbnailUrl}}" alt="img02"/></a>
      </div>
      <div class="image-expander" [ngStyle]="{'height': image.expanderHeight, 'background-color': expanderBgColor, 'color': expanderTextColor}" >
        <div class="image-expander-inner" [ngStyle]="{'display': 'flex'}">
          <span class="image-position" [ngStyle]="{'color': expanderTextColor}">{{i+1}}/{{imagesData.length}}</span>
          <span class="image-close" [ngStyle]="{'color': expanderTextColor}" (click)="closeImageExpander(i)"></span>
          <div class="image-fullimg">
            <img src="{{image.previewUrl}}">
          </div>
          <div class="image-details" [ngStyle]="{'color': expanderTextColor}">
            <ng-container *ngTemplateOutlet="parentTemplate; context: { $implicit: image }">
            </ng-container>
          </div>
          <a class="prev" (click)="plusSlides(-1)" *ngIf="showPrevButton()">
            <i class="fas fa-chevron-left"></i>
          </a>
          <a class="next" (click)="plusSlides(1)" *ngIf="showNextButton()">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>