<div *ngIf="imagesData.length" id="image-grid" class="image-grid">
  <div class="row no-gutters">
    <div *ngFor="let image of imagesData; let i = index"
         [ngClass]="{'image-expanded': image.height === '860px'}"
         [ngStyle]="{'height': image.height}"
         tabindex="{{i}}" >
      <div class="col image-thumbnail">
          <span class="helper"></span>
          <a (keyup.enter)="openImageExpander(i)" (click)="openImageExpander(i)" ><img src="{{image.thumbnailUrl}}" alt="img02"/></a>
      </div>
      <div class="image-expander" [ngStyle]="{'height': image.expanderHeight}" >
        <div class="image-expander-inner" [ngStyle]="{'display': 'flex'}">
          <span class="image-close" (click)="closeImageExpander(i)"></span>
          <div class="image-fullimg">
            <img src="{{image.previewUrl}}">
          </div>
          <div class="image-details">
            <ng-container *ngTemplateOutlet="parentTemplate; context: { $implicit: image }">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>